@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }



  #head{
    background: rgba(255, 144, 14, 0.1);  
    padding-bottom: 60px;  
    
    
  }

  .navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;

  }


  .display-flex{
    display: flex;
    align-items: center;
    
  }
  .brand{
    font-size: 2rem;
font-weight: 700;
  }

.link{
    list-style: none;
    margin-left: 30px;
}
 .a1{ 
     text-decoration: none; 
     color: rgb(66, 66, 66);
     font-size: 18px;
    font-weight: 500;
 } 

.navbar{
    justify-content: space-between;
}
.banner{
    text-align: center;
}

#h1p1{
max-width: 862px;
margin: 0 auto;
text-align: center;
}
.button{
    background-color: rgb(255, 144, 14);
    color: white;
    width: 180px;
    height: 64px;
    border: none;
    border-radius: 8px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 600;
    
}

#banner-photo{
    width: 100%;
    height: 100%;
     padding-bottom: 20px; 
}

/* main section -1 */
main{
  max-width: 1440px;
  margin: 0 auto;
}
#main-section-one{
  margin-top: 30px;
}
#four-photos{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 5px;
}
#our-features{
  margin-left: 54px;
  width: 573px;
}
#span-1{
  font-weight: 500;
  font-size: 2.8125rem;
  color: rgb(144, 144,144);
}
#span-2{
  font-weight: 700;
  font-size: 2.8125rem;
  color: rgb(19,19,19);
}
#span-3{
  font-weight: 700;
  font-size: 2.8125rem;
  color: rgb(255, 144,14);
}
#feature-title{
  border-left: 5px solid rgb(255, 144,14);
  padding-left: 45px;
}
.features-description{
  color: rgb(144, 144,144);
}
#feature{
  margin-top: 70px;
  gap: 10px;
}

.card{
max-width: 586px;
border-radius: 8px;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
background: rgb(255, 255, 255);
padding: 20px;
margin-bottom: 20px;

}
#feature-button{
  width: 302px;
height: 150px;
color: white;
background-color: rgb(255, 144, 14);
border-radius: 8px;
margin-left: -60px;
margin-top: -100px;
}
.facts-card{
  width: 250px;
  height: 250px;
  border-radius: 8px;
  border: 3px solid rgb(255, 144,14);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
.facts-number{
  font-size: 2.8rem;
font-weight: 600;
margin: 0 auto;
}
#second-card-section{
  justify-content: space-evenly;
}
#facts-description{
  margin-left: 100px;
  margin-bottom: 60px;
}


@media screen and (max-width:576px) {
  .navbar,.display-flex,.main-section
  {
    flex-direction: column; 
  }
  #four-photos{
    grid-template-columns: repeat(1,1fr);

  }
  #our-features{
    margin-left: 70px;
    flex-direction: column;
    width: 450px;
  }
  #feature,#second-card-section{
    flex-direction: column;
    
    
    
  }

 
}
  
  


