@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }



  #head{
    background: rgba(255, 144, 14, 0.1);  
    padding-bottom: 60px;  
    
  }

  .navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;

  }


  .display-flex{
    display: flex;
    align-items: center;
    
  }
  .brand{
    font-size: 2rem;
font-weight: 700;
  }

.link{
    list-style: none;
    margin-left: 30px;
}
 .a1{ 
     text-decoration: none; 
     color: rgb(66, 66, 66);
     font-size: 18px;
    font-weight: 500;
 } 

 


.navbar{
    justify-content: space-between;
}
.banner{
    text-align: center;
}

#h1p1{
max-width: 862px;
margin: 0 auto;
text-align: center;
}


.button{
    background-color: rgb(255, 144, 14);
    color: white;
    width: 180px;
    height: 64px;
    border: none;
    border-radius: 8px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 600;
    
}

#banner-photo{
    width: 100%;
    height: 100%;
     padding-bottom: 20px; 
}

@media screen and (max-width:576px) {
  .navbar,.display-flex{
    flex-direction: column;
    
  }
 
  
}
.img{
  width: 100%;
  height: 100%;
}

#main-section{
  max-width: 1318px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin-left: 310px;
  margin-right: 310px;
  margin-top: 80px;
  margin-bottom: 80px;
  
  
}






#four-photos{
  max-width: 708px;
  max-height: 708px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 5px;
}

/* h2p2btn2 */

#h2-p2-btn2{
  max-width: 537px;
}
#span-1{
  font-weight: 500;
  font-size: 2.6rem;
   color: rgb(114, 114, 114);
}
#span-2{
  font-weight: 700;
  font-size: 2.6rem;
   color: rgb(19, 19, 19);

}
#span-3{
  font-weight: 700;
  font-size: 2.6rem;
   color: rgb(255, 144, 14);

}
#p-2{
  font-size: 1rem;
  font-weight: 400;
  color: rgb(114, 114, 114);

}
#btn-2{
  height: 64px;
  width: 180px;
  border-radius: 8px;
  background-color: rgb(255, 144, 14);
  color: white;
  font-weight: 600;
  font-size: 1rem
  
}
